scikit-learn==1.5.2
sqlite_minutils==0.3.0
python-fasthtml==0.12.50
matplotlib==3.9.2
scipy==1.14.1
numpy==2.1.2
pandas==2.2.3
pytest
flake8
ipython
#### Add text to install the python-package here
-e ./python-package